body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
